@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ubuntu&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: #fff;
    list-style: none;
  
  }
html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   }
   img{
    max-width: 100%;
    vertical-align: middle;
 }

   ::before,
   ::after{
box-sizing: border-box;
   }

   ::-webkit-scrollbar{
    width: 5px;
   }
   ::-webkit-scrollbar-track{
    background-color: var(--body-bg-color);
   }
   ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
   }
   .page-wrapper{
    overflow: hidden;

   }
   .container{
   padding: 10px 10%;

   }
   .header{
    background-image: url("images/Studying-rafiki.png");
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 0; 
    backdrop-filter: blur(3px);
   }
   .header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    z-index: -1;
    transform: translateY(calc(-100% -10px));
    transition: transform 0.5s ease;

   }
   .header.bg-reveal::before{
    transform: translateY(0);
   }

   .header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

   .header .logo a {
    font-size: 28px;
    font-weight: bold;
    color: #ff004f;
    text-decoration: none;
   }
   .header .logo span{
    font-size: 12px;
    display: block;
    text-align: center;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;


   }
   .nav li {
    display: inline-block;
    margin-left: 35px;

   }
   .nav a {
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
  
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease;
    text-decoration: none;
   }

   .nav a:hover{
  color: #ff004f;
   }
   

    
   .para{
    margin-top: 0;
    padding-top: 100px;
 
   }
   button{
    border: none;
    background-color: transparent;
   }
   
   .btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 28px;
    margin-top: 10px;
    background-color: yellow;
    color: rgb(4, 0, 0);
    font-weight: 900;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.5;
    font-family: inherit;
    border: 2px solid transparent;
    box-shadow: 0px 0px 15px #fff;
    vertical-align: middle;
    user-select: none;
    transition:all 0.5s ease ;

  }
  .btn:hover{
    background-color: blueviolet;
  
    transform: translateY(-5px);
    
  }
 

  #Home{

    display: flex;
     margin-left: -15%;
     padding-left: 20%;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100vh;
    
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.back-{
  position: absolute;
  z-index: -1;
  object-fit: cover;

  width: 100%;


}
.back-2{
position:absolute;
  z-index: -1;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
object-fit: cover;

  




}


.header-text{
   
  font-size: 30px;
  margin-top: 35%;
  width: 168%;

 
}
.header-text h1 span{
  color:#ff004f;
  text-shadow: 32px 12px 11px rgb(0 0 0);
}
#About{

  padding: 80px 0;
}
.row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  background-color: #1b1919;
  border-radius: 5%;

}
.about-col-2{
  flex-basis: 60%;
 
}
.title{
  text-align: center;
  margin: 5%;
}
.sub-title{
font-size: 60px;
font-weight: 600;
color: #fff;
}
.tab-titles{
  cursor: pointer;
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  position: relative;

}

.tab-links::after{
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom:-8px ;
  transition: 0.5s;
}
.tab-links.active-links::after{
  width: 50%;
}
.tab-contents ul li{
list-style: none;
  margin: 10px 0;
  margin-top: 3%;
  
}
.tab-contents ul .head{
  color: #ff004f;
  font-weight: bold;
  
}
.tab-contents ul li span .img4{
padding-left: 7%;
}
.tab-contents ul li span img{

  padding-right: 6%;
 
}

.tab-contents ul li p{
  word-spacing: 3em;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
display: block;

}

#services{
  padding: 30px 0;
  text-align: center;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
   text-align: center;
}
.box{
  background-color: #1b1919;
  padding: 20px;
  border-radius: 10px;
  font-size: 13px;
  transition: background 0.5s,transform 0.5s;
}
.box a{
  text-decoration: none;
  color: #ff004f;
  font-weight: 600;
  font-size: 15px;
  
}
.box i{
  font-size: 30px;
}
.box h2{
  padding: 10px;
}

.box:hover{

  background: #ff004f;
  transform: translateY(-10px);

}

#Projects{
  padding: 30px 0;
  text-align: center;
}
.my-project{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;

}
.work{

  border-radius: 10px;
  position: relative;
  overflow: hidden;
 
}
.work img{

border-radius: 10px;
display: block;
transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.layer h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
.layer p{
  font-size: 14px;
}
.layer a{
  margin-top: 4px;
  color: #ff004f;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
#contact{
  padding: 30px 0;
  text-align: center;

}
.row{
  display: flex;
text-align: initial;
}

.contact-left{
  flex-basis: 35%;

}
.contact-right{
  flex-basis: 60%;
  
}

.contact-left p{
  margin-top: 30px;
  font-size: 20px;

}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons a{
  text-decoration: none;
  margin-top: 30px;
  font-size: 35px;
  margin-right: 15px;
 color: aliceblue;
  display: inline-block;
  transition: transform 0.5s ;
  
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn{
  display: inline-block;
  background-color:#ff004f;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-right form{
  width: 100%;
}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 15px;
}

.copyright i{
  color: #ff004f;
}

nav .fas{
  display: none;
}
.btn{
  cursor: pointer;
}

#msg{
  color: #61b752;
margin-top: -10px;
  display: block;
}


@media(max-width:600px) {
  
  .header-text{
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1{
    font-size: 30px;
  }
  nav .fas{
    display: block;
    font-size: 25px;
  }

  nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s ;
  }
  .back-video{
    
    width: 100%;
  }
  .back-{
margin-top: 810px;
  }

  .back-2{
    width: 100%;
  

  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .nav a:hover{
    color: #262626;
  }

  .sub-title{
    font-size: 40px;
  }
  .about-col-1,.about-col-2{
    flex-basis: 100%;
  }
  .about-col-1{
  margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  
  }
  .about-col-2 p{
    margin-right: 40px;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }
  .tab-contents ul li p{
    word-spacing: 1.2em;
  }
}

.preloader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

}
.preloader.fade-out{
  opacity: 0;
  transition: opacity 0.6s ease;

}

.preloader div{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-left: 4px solid #ff004f;
  border-right: 4px solid #ff004f;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: preloader 1s linear infinite;
}

@keyframes preloader{
  0%{
     transform: rotate(0);
  }
  100%{
     transform: rotate(360deg);
  }
}







